# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.sqlite3
/staticfiles/
/media/
db.sqlite3

# Среда
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp

# Docker / прочее
.DS_Store
